:root {
    --emailBackground: #3e9cd1;
    --emailTextColor: #ffffff;
    --fontSize: 13px;
    --pinnedHighlight: #dfe7e0;
    --navHeader: #2c7834;
    --navHeaderMobile: #2c7834;
    --textColorHeaderPrimary: #ffffff;
    --textColorNavHeaderPrimary: #ffffff;
    --drawer: #2c7834;
    --textColorDrawer: #ffffff;
    --navfilterbg: #d9e7da;
    --body: #ffffff;
    --TemplatebaseColor: #389741;
    --side: #f4f4f4;
    --textColorSide: #000000;
    --sideActiveBg: 44, 120, 52;
    --sideActiveShadow: rgb(var(--sideActiveBg)) -6px0px0inset;
    --sideIconSecondaryColor: '';
    --sideForm: #fcfcfc;
    --textColorSideForm: #000000;
    --textColorNavHeaderActive: #FFFFFF;
}

::-webkit-scrollbar {
    width: 4px;
    background-color: #f0f0f0;
}

::-webkit-scrollbar-thumb {
    background-color: #aaa;
    /* Color of the draggable part */
    border-radius: 6px;
    /* Rounded corners */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #888;
    /* Darker on hover */
}

/* Custom Scrollbar for Firefox */
.rtl #chatbot-container  {
    scrollbar-width: thin;
    /* Can be auto, thin, or none */
}

* {
    box-sizing: border-box;
}

#chatbot-container,
#chatbot-container *:not(svg) {
    font-family: 'eSenseTajawalFlat' !important;
}
.rtl
{
    text-align: right;
    direction: rtl;
}
.rtl .card {
    height: 26vw;
    width: 18vw;
    background-color: white;
    margin-left: 30vw;
    margin-top: 5vw;
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
}
.rtl .shrink #mainlogo
{
    display: none !important;
}
.rtl .shrink #sidelogo {
    display: block !important;
    width: 50px;
    margin-top: 30px;
}
.rtl .card #header {
    height: 5vw;
    background: #000;
    padding: 0vw;
}
.rtl  .cb-padding-10 {
    position: relative; /* Make the parent container relative */
}



.rtl #visualizer {
    left: 0;
    right: 10px;
    width: 75% !important;
}
    .rtl #visualizer2 {
        width: 84% !important;
        right: 11px !important;
        left: 0px !important;
    }


.rtl  .visualizer { 
    position: absolute;
    display: flex;
    align-items: center; /* Align bars to the bottom */
    justify-content: center;
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
    z-index: -1;
}

.rtl  .bar {
    background-color: var(--TemplatebaseColor);
    width: 5px;
    height: 0; /* Start from height 0 */
    transition: height 0.1s ease;

}
.rtl .card #header h1 {
    color: #fff;
    font-size: 2vw;
    font-family: "Finger Paint", cursive;
    padding: 1vw;
    margin: 0px !important
}

.rtl .card #message-section::-webkit-scrollbar {
    width: 10px;
}

.rtl .card #message-section {
    height: 15vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.rtl .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.rtl .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.rtl .cbiexpandcon, .rtl .cbclose {
    width: 11px;
}
.rtl .card #message-section #bot,
.rtl .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 5px;
    margin: 1.5vw 0;
    text-align: center;
}

.rtl .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #000;
    float: right;
}

.rtl .card #message-section #user #user-response {
    color: #fff;
}

.rtl .card #message-section .cb-message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 11px;
    padding: 6px;
    position: relative;
    margin: 5px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}

.rtl .card #input-section {
    z-index: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 6vw;
    width: 100%;
}

.rtl .card #input-section input {
    color: #000;
    min-width: 0.5vw;
    outline: none;
    height: 5vw;
    width: 26vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 0.1vw;
}

.rtl .card .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1.4vw;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
}

.rtl .card .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.rtl #input-section .send {
    background: skyblue !important;
    margin: 0px !important;
    padding: 15px !important;
    color: #fff !important;
}

.rtl .chat-button {
    position: fixed;
    width: 60px;
    z-index: 9950;
    height: 60px;
    border-radius: 149%;
    background: none;
    border: none;
    transition: all .3s;
}
.rtl  .chatbuttondiv img 
{
    transform: rotate(45deg);
    width: 35px;
}
.rtl .cbquestion
{
    width: 12px;
}
.rtl .cbsearch
{
    width: 16px;
}
.rtl .cb-chat-button-container {
    position: fixed;
    bottom: 69px;
    right: 10px;
    z-index: 9950;
    transition: all .3s;
}

.rtl .chat-screen_hidden {
    position: fixed !important;
    bottom: 90px !important;
    right: 15px;
}

.rtl .cb-chat-screen {
    width: 410px;
    transition: all .3s;
    z-index: 9950;
    position: fixed;
    bottom: -500px;
}

.rtl .cb-chat-screen-header {
    color: #fff;
    border-radius: 8px 8px 0 0;
    background-color: var(--TemplatebaseColor) !important;
    box-shadow: 0 0 5px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline: 15px;
    height: 45px;
    position: relative;
}

.rtl #audio-visualizer {
    outline: 0;
    display: block;
    width: 80%;
    padding: 6px 12px;
    font-size: 12px;
    color: #535353;
    background-color: #fff;
    font-family: 'eSenseTajawalFlat';
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    position: absolute;
    right: 10px;
    height: 33px;
    border: 1px solid transparent !important;
}


.rtl .cb-chat-screen-header label {
    flex: 1;
    width: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.rtl .cb-chat-screen .cb-chat-screen-container {
    height: 45vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
}

.rtl .suggestions-boxes,
.rtl .popup-suggestions-boxes {
    display: flex;
    gap: 16px;
}

.rtl .suggestions-boxes .cb-right-box,
.rtl .suggestions-boxes .cb-left-box,
.rtl .popup-suggestions-boxes .cb-right-box,
.rtl .popup-suggestions-boxes .cb-left-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 10px;
    padding: 10px;
    border: #D2D2D2 solid 1px;
    border-radius: 10px;
    width: 160px;
    height: 80px;
}

.rtl .cb-chat-send-icon {
    transform: scaleX(-1);
    padding: 0px 10px;
}

.rtl .hide {
    display: none !important;
}
.rtl .cbicon {
    width: 23px;
    margin: 0px 5px;
    padding-left: 7px;
}
.rtl .cbellipsisicon {
    width: 25px;
    margin-top: 10px;
}
.rtl .timetext img
{
    padding: 0px 3px;
}

.rtl .cb-chat-button-container .cb-close-icon {
    position: absolute;
    right: 47px;
    z-index: 1000000;
    top: 3px;
}

.rtl .evicon-circle-cross {
    transition: 0.5s ease-in;
}

.rtl .cb-chat-button-container .cb-close-icon {
    display: none;
}

.rtl .cb-chat-button-container:hover .cb-close-icon {
    display: block !important;
    background-color: #bf0820;
    color: #fff !important;
    border-radius: 50%;
    padding: 1px 4px;
    width: 20px;
}

.rtl .suggestion-box {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.rtl .suggestion-box .cb-item-sug {
    border: #0071CE 1px solid;
    color: #0071ce;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.rtl .suggestions-boxes .cb-right-box.cb-clicked-sug,
.rtl .popup-suggestions-boxes .cb-right-box.cb-clicked-sug,
.rtl .popup-suggestions-boxes .cb-left-box.cb-clicked-sug,
.rtl .suggestions-boxes .cb-left-box.cb-clicked-sug {
    background-color: #0078d71a;
}


.rtl .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.rtl .overlay {
    content: "";
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.rtl .cb-content .cb-sections {
    display: flex;
}

.rtl .cb-content .cb-sections .cb-right-content {
    padding: 20px;
    flex: 0 0 365px;
    position: relative;
    transition: all .4;
    border-left: 1px solid #D2D2D2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 90vh;
}

.rtl .cb-content .cb-sections .cb-right-content-header .cb-toggle-panel {
    cursor: pointer;
    border: 1px solid #C8C8C8;
    box-shadow: 0 10px 40px #3f3f4614;
    background: #FDFEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    left: -17px;
    top: 50px;
    z-index: 100;
}

.rtl .cb-content .cb-sections .cb-right-content-header .cb-logo-image {
    width: 150px;
}


.rtl .cb-content {
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    width: 90%;
    max-width: 1740px;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history {
    overflow-y: scroll;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    position: relative;
    margin-top: 10px;
    align-items: center;

    border-radius: 8px;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    align-items: center;

    border-radius: 8px;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card .evicon-chat {
    color: #0071ce;
    padding: 15px;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card h5 {
    padding: 15px 0;
    margin: 0;
}

.rtl .evicon-right-panel-close:before {
    content: "\eb57";
}

.rtl .cb-content .cb-sections .cb-left-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rtl .cb-content .cb-sections .left-content-header .greeting h1 {
    font-size: 30px;
}

.rtl .cb-content .cb-sections .cb-left-content-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.rtl .cb-dropdown-menu li a
{
    color: #000 !important;
}

.rtl .cb-content .cb-sections .left-content-header {
    display: flex;
    justify-content: space-between;
}

.rtl .cb-content .cb-sections .cb-left-content-footer {
    position: relative;
}

.rtl .cb-content .cb-sections .cb-left-content-footer .cb-chat-send-icon {
    transform: scaleX(-1);
}

.rtl .darkoverlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999999999999999999;
}

.rtl .cb-content .cb-sections .left-content-header .greeting h4 {
    font-size: 20px;
}

.rtl .no-scroll {
    overflow: hidden;
}

.rtl .cb-flexi-col {
    display: flex;
    flex-flow: column;
}

.rtl .cb-message {
    padding-inline: 20px;
    border-radius: 8px;
    background: #e4e4e7;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.rtl .chat-card {
    display: flex;
    gap: 15px;
}

.rtl .cb-message .user {
    background-color: #0078d71a;
}

.rtl .cb-content .cb-sections .cb-left-content-body-chat {
    flex: 1;
    height: 100%;
}

.rtl .cb-chat-screen-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 8px 8px;
}

.rtl .cb-left-content-body .cb-chat-screen-container,
.rtl #leftchatbox .cb-chat-screen-container {
    height: 60vh !important;
}

.rtl .algin-self-end {
    align-self: end;
}

.rtl .chat-avatar {
    color: var(--TemplatebaseColor);
    background: rgba(0, 120, 215, .1);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.rtl .cb-bb-compButton_primary {
    background-color: var(--TemplatebaseColor);
    border-color: var(--TemplatebaseColor);
    color: #fff;
}

.rtl .cb-bb-compButton {
    position: relative;
    height: 35px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-inline: .75rem;
    line-height: 1.5;
    box-shadow: 0 2px 4px #0000001a;
    outline: none;
    background-color: #f6f7f8;
    color: #000;
    width: 35%;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2px;
}

.rtl .bb-button__primary,
.rtl .btn-primary,
.rtl .cb-bb-compButton_primary,
.rtl .ngx-pagination .current {
    background-color: var(--TemplatebaseColor) !important;
}

.rtl .popupsuggestion-box .cb-item-sug {
    border: #0071CE 1px solid;
    color: #0071ce;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.rtl .popupsuggestion-box {
    display: flex;
    gap: 15px;
    padding: 10px;
}


.rtl .chatbuttondiv {
    position: fixed;
    bottom: 40px;
    right: -20px;
}

.rtl .message_user {
    background: var(--TemplatebaseColor);
    color: #fff;
}

.rtl #chat-suggestions-boxes .spinner,
.rtl .cb-left-content .spinner {
    margin: 0px !important;
}

.rtl #chat-suggestions-boxes .spinner>div,
.rtl .cb-left-content .spinner>div {
    width: 10px !important;
    height: 10px !important;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card.isThreadActive {
    background-color: #0078d73d;
}

.rtl .cb-form-control {
    border: 1px solid #dedede;
    height: 35px;
    border-radius: 2px;
    padding: 4px 12px;
}

.rtl .cb-form-control {
    outline: 0;
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 12px;
    color: #535353;
    background-color: #fff;
    font-family: 'eSenseTajawalFlat';
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.rtl .cb-flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.rtl .cb-flexi-1 {
    flex: 1;
}

.rtl .cb-padding-0-10-10-10 {
    padding: 0 10px 10px 10px !important;
}

.rtl .iconstyle {
    cursor: pointer;
    font-size: 20px;
    /* Change size as needed */
    color: white;
    /* Change color to white */
}

.rtl .cb-cursor-pointer {
    cursor: pointer;
}

.rtl .btn-primary,
.rtl .cb-bb-compButton_primary {
    border-color: var(--TemplatebaseColor) !important;
    font-family: 'eSenseTajawalFlat';
}

.rtl .cb-white {
    color: white;
}

.rtl .cb-btn-group,
.rtl .btn-group-vertical {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.rtl .cb-dropdown-menu.cb-dropdown-menu-styleone {
    min-width: 200px;
    border-radius: 3px;
    padding: 10px;
    background-color: #f6f7f8;
    direction: rtl;
    text-align: right;
}

.rtl .btn.btn-clean {
    border-color: transparent;
    background-color: transparent;
}

.rtl .menu_left_minus5 {
    left: -5px !important;
    right: unset !important;
}

.rtl .cb-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px #0000002d;
}

.rtl .cb-dropdown-menu {
    border-radius: 0;
    border-color: #eee;
    box-shadow: 0 1px 3px #0000001a;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card .fa-comment-alt {
    color: var(--TemplatebaseColor);
    padding: 15px;
}

.rtl .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    align-items: center;

    border-radius: 8px;
    margin-bottom: 10px;
}

.rtl .dropdown-arrow:before,
.rtl .dropdown-arrow:after {
    content: "";
    bottom: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    left: 45px;
    pointer-events: none;
}

.rtl .dropdown-arrow:before {
    border-color: #719ece00;
    border-bottom-color: lightgray;
    border-width: 15px;
    margin-left: -20px;
}
.rtl .cb-dropdown-menu li {
    margin: 13px 10px !important;
}

.rtl .cb-dropdown-menu svg
{
margin-left: 20px;
}



.rtl .color-D0021B {
    color: #d0021b;
}

.rtl .cb-width-80-per {
    width: 80% !important;
}

.rtl .text-wrap {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.rtl .gap-5,
.rtl .autoCompleteOptionsFordepartmentStructureItem {
    gap: 5px;
}

.rtl .cb-padding-10,
.rtl .autoCompleteOptionsFordepartmentStructureItem,
.rtl .important-attachment-section attachments-list-widget,
.rtl .cb-padding-10.text-indent-unset {
    padding: 10px !important;
}

.rtl .cb-message {
    border-radius: 8px;
    background: #e4e4e7;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
}

.rtl .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.rtl .spinner {
    margin-top: 0 !important;
}

.rtl .cb-flexi-1 {
    flex: 1;
}

.rtl .align-items-end {
    align-items: flex-end !important;
}

.rtl .align-items-start {
    align-items: flex-start;
}

.rtl .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.rtl .spinner>div {
    width: 18px;
    height: 18px;
    background-color: #102233;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.rtl .spinner .bounce1 {
    animation-delay: -0.32s;
}

.rtl .spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.rtl .cb-chat-screen .cb-overflow-x-hidden {
    overflow-x: hidden !important;
}

.rtl .cb-chat-screen .cb-overflow-y-auto {
    overflow-y: auto !important;
}

.rtl #popupmessages {
    overflow-y: scroll;
    /* Enable vertical scrolling */
    scrollbar-width: none;
}

.rtl .tabdisabled {
    pointer-events: none;
}

.rtl .ch-padding-left-60px {
    padding-left: 60px;
}

.rtl textarea {
    resize: none;
    /* Prevents resizing */
    -webkit-resize: none;
    /* For Safari */
    -moz-resize: none;
    /* For Firefox */
}

.rtl .timetext bdi {
    font-size: 10px;
    margin-right: 5px;
    font-weight: 300;
}

.rtl .cb-content .cb-sections .cb-right-content.shrink {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 0px;
}

.rtl .cb-content .cb-sections .cb-right-content {
    transition: flex 0.3s ease, width 0.3s ease;
    /* Add transition for flex and width */
}

.rtl .fa-robot:before {
    content: "\f544";
    position: relative;
    top: 25%;
    right: 5%;
}
.rtl .cb-right-content-chat-history-card
{
    display: flex;
justify-content: space-between !important;
} 

.rtl .plan-input {
    position: absolute;
    line-height: 0px;
    top: 0px;
    width: 70%;
    text-align: right;
    height: 60px;
    background: transparent !important;
    outline: 0;
    left: 17%;
    z-index: 9999999999;
    outline: 0;
    border: 1px solid transparent !important;
}

.rtl #cb-minimizepopup {
    padding: 0px 5px !important;
}

.rtl #cb-PopUpquestions {
    position: absolute;
    bottom: 130px;
    margin-top: -30px !important;
}
.rtl .green-check {
    color: green;
}

.rtl .filled {
    color: green;
    /* or any color you prefer for the filled icon */
}

.rtl .filledred {
    color: red;
}

.rtl .fa-thumbs-down {
    transform: scaleX(-1) !important;
}

.rtl.cb-dropdown-menu.dropdown-menu-styleone li a:hover,
.rtl .cb-dropdown-menu.dropdown-menu-styleone li a:focus {
    color: #333 !important;
}

.rtl .cb-dropdown-menu {
    border-radius: 0;
    border-color: #eee;
    box-shadow: 0 1px 3px #0000001a;
}

.rtl .cursor-pointer {
    cursor: pointer;
}

.rtl #cb-mainchatdiv .chat-avatar {
    height: 60px;
    width: 60px;
}

.rtl #cb-mainchatdiv .chat-button {
    background: transparent !important;
}




.rtl .cb-message p {
    margin: 0px !important;
}

.rtl .cb-width-60-per {
    width: 60% !important;
}

.rtl .timetext {
    padding-top: 15px;
}

.rtl .height-18 {
    height: 18px;
    padding-right: 15px;
}



.rtl .scale2-5 {
    padding-right: 0px;
    transform: scale(2.5);
}

.rtl .unclickable {
    pointer-events: none;
}

.rtl textarea:disabled {
    background-color: #80808021;
    color: #7d7d7d;
    border: 1px solid #c0c0c0;
    cursor: not-allowed;
    opacity: 0.7;
}

.rtl #chat-input {
    padding-left: 53px !important;
}
.rtl .dropdown-menu {
   
    box-shadow: 0 1px 3px #0000001a;
}

.rtl .cbtoast-container {
    position: absolute;
    bottom: 90px;
    z-index: 9999;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 68%;
}

.rtl .cbtoast {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(100%);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* When the cbtoast is shown */
.rtl .cbtoast-container  .show {
    opacity: 1;
    transform: translateY(0);
}

/* cbtoast types */
.rtl .cbtoast .success {
    background-color: #28a745;
}

.rtl .cbtoast-container .error {
    background-color: #dc3545;
}

.rtl .cbtoast .info {
    background-color: #17a2b8;
}

.rtl .cbtoast.warning {
    background-color: #ffc107;
}

.rtl .cbtoast  .close-btn {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}

/*------------------------------------------------------English styles-----------------------*/

.ltr
{
    text-align: left !important;
    direction: ltr !important;
}
.ltr .card {
    height: 26vw;
    width: 18vw;
    background-color: white;
    margin-left: 30vw;
    margin-top: 5vw;
    box-shadow: 2vw 2vw 12vw 3vw #ccc;
}

.ltr .card #header {
    height: 5vw;
    background: #000;
    padding: 0vw;
}

.ltr .card #header h1 {
    color: #fff;
    font-size: 2vw;
    font-family: "Finger Paint", cursive;
    padding: 1vw;
    margin: 0px !important
}

.ltr .card #message-section::-webkit-scrollbar {
    width: 10px;
}

.ltr .card #message-section {
    height: 15vw;
    padding: 0 2.5vw;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

.ltr .card #message-section::-webkit-scrollbar-track {
    background: var(--scrollbarBG);
}

.ltr .card #message-section::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG);
    border-radius: 6px;
    border: 3px solid var(--scrollbarBG);
}

.ltr .card #message-section #bot,
.ltr .card #message-section #user {
    position: relative;
    bottom: 0;
    min-height: 1.5vw;
    border: 0.15vw solid #777;
    background-color: #fff;
    border-radius: 0px 1.5vw 1.5vw 1.8vw;
    padding: 5px;
    margin: 1.5vw 0;
    text-align: center;
}

.ltr .card #message-section #user {
    border: 1.5px solid #000;
    border-radius: 1.5vw 0vw 1.5vw 1.8vw;
    background-color: #000;
    float: right;
}

.ltr .card #message-section #user #user-response {
    color: #fff;
}

.ltr .card #message-section .cb-message {
    color: #000;
    clear: both;
    line-height: 1.2vw;
    font-size: 11px;
    padding: 6px;
    position: relative;
    margin: 5px 0;
    max-width: 85%;
    word-wrap: break-word;
    z-index: 2;
}

.ltr .card #input-section {
    z-index: 1;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    overflow: hidden;
    height: 6vw;
    width: 100%;
}

.ltr .card #input-section input {
    color: #000;
    min-width: 0.5vw;
    outline: none;
    height: 5vw;
    width: 26vw;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #000 0.1vw;
}

.ltr .card .send {
    background: transparent;
    border: 0;
    cursor: pointer;
    flex: 0 0 auto;
    margin-left: 1.4vw;
    margin-right: 0vw;
    padding: 0;
    position: relative;
    outline: none;
}

.ltr .card .send .circle {
    position: relative;
    width: 4.8vw;
    height: 4.8vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



.ltr #input-section .send {
    background: skyblue !important;
    margin: 0px !important;
    padding: 15px !important;
    color: #fff !important;
}

.ltr .chat-button {
    position: fixed;
    width: 60px;
    z-index: 9950;
    height: 60px;
    border-radius: 149%;
    background: none;
    border: none;
    transition: all .3s;
}

.ltr .chatbuttondiv img {
    width: 40px;
    transform: rotate(149deg) translate(15px, 1px);
}

.ltr .cb-chat-button-container {
    position: fixed;
    bottom: 69px;
    left: 10px;
    z-index: 9950;
    transition: all .3s;
}

.ltr .chat-screen_hidden {
    position: fixed !important;
    bottom: 90px !important;
    left: 15px;
}

.ltr .cb-chat-screen {
    width: 410px;
    transition: all .3s;
    z-index: 9950;
    position: fixed;
    bottom: -500px;
}

.ltr .cb-chat-screen-header {
    color: #fff;
    border-radius: 8px 8px 0 0;
    background-color: var(--TemplatebaseColor) !important;
    box-shadow: 0 0 5px #00000040;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding-inline: 15px;
    height: 45px;
    position: relative;
}

.ltr .cb-chat-screen-header label {
    flex: 1;
    width: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
}

.ltr .cb-chat-screen .cb-chat-screen-container {
    height: 45vh !important;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
}

.ltr .suggestions-boxes,
.ltr .popup-suggestions-boxes {
    display: flex;
    gap: 16px;
}

.ltr .suggestions-boxes .cb-right-box,
.ltr .suggestions-boxes .cb-left-box,
.ltr .popup-suggestions-boxes .cb-right-box,
.ltr .popup-suggestions-boxes .cb-left-box {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
    gap: 20px;
    padding: 10px;
    border: #D2D2D2 solid 1px;
    border-radius: 10px;
    width: 160px;
}



.ltr .hide {
    display: none !important;
}

.ltr .cb-chat-button-container .cb-close-icon {
    position: absolute;
    left: 50px;
    z-index: 1000000;
    top: 3px;
    width: 20px;
}

.ltr .evicon-circle-cross {
    transition: 0.5s ease-in;
}

.ltr .cb-chat-button-container .cb-close-icon {
    display: none;
}

.ltr .cb-chat-button-container:hover .cb-close-icon {
    display: block !important;
    background-color: red;
    color: #fff !important;
    border-radius: 50%;
    padding: 1px 4px;
    width:20px !important
}

.ltr .suggestion-box {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.ltr .suggestion-box .cb-item-sug {
    border: #0071CE 1px solid;
    color: #0071ce;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.ltr .suggestions-boxes .cb-right-box.cb-clicked-sug,
.ltr .popup-suggestions-boxes .cb-right-box.cb-clicked-sug,
.ltr .popup-suggestions-boxes .cb-left-box.cb-clicked-sug,
.ltr .suggestions-boxes .cb-left-box.cb-clicked-sug {
    background-color: #0078d71a;
}


.ltr .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100000;
}

.ltr .overlay {
    content: "";
    background: transparent;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.ltr .cb-content .cb-sections {
    display: flex;
}

.ltr .cb-content .cb-sections .cb-right-content {
    padding: 20px;
    flex: 0 0 365px;
    position: relative;
    transition: all .4;
    border-right: 1px solid #D2D2D2;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 90vh;
}

.ltr .cb-content .cb-sections .cb-right-content-header .cb-toggle-panel {
    cursor: pointer;
    border: 1px solid #C8C8C8;
    box-shadow: 0 10px 40px #3f3f4614;
    background: #FDFEFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    width: 32px;
    height: 32px;
    position: absolute;
    right: -17px;
    top: 50px;
    z-index: 100;
}
.ltr .cb-content .cb-sections .cb-right-content-header .cb-logo-image {
    width: 150px;

}

.ltr .cb-content {
    overflow: hidden;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px #0000001a;
    width: 90%;
    max-width: 1740px;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history {
    overflow-y: scroll;
    overflow-x: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    flex: 1;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    position: relative;
    margin-top: 10px;
    align-items: center;

    border-radius: 8px;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    align-items: center;

    border-radius: 8px;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card .evicon-chat {
    color: #0071ce;
    padding: 15px;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card h5 {
    padding: 15px 0;
    margin: 0;
}

.ltr .evicon-right-panel-close:before {
    content: "\eb57";
}

.ltr .cb-content .cb-sections .cb-left-content {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ltr .cb-content .cb-sections .left-content-header .greeting h1 {
    font-size: 30px;
}

.ltr .cb-content .cb-sections .cb-left-content-body {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ltr .cb-content .cb-sections .left-content-header {
    display: flex;
    justify-content: space-between;
}

.ltr .cb-content .cb-sections .cb-left-content-footer {
    position: relative;
}



.ltr .darkoverlay {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999999999999999999999999999;
}

.ltr .cb-content .cb-sections .left-content-header .greeting h4 {
    font-size: 20px;
}

.ltr .no-scroll {
    overflow: hidden;
}

.ltr .cb-flexi-col {
    display: flex;
    flex-flow: column;
}

.ltr .cb-message {
    padding-inline: 20px;
    border-radius: 8px;
    background: #e4e4e7;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.ltr .chat-card {
    display: flex;
    gap: 15px;
}

.ltr .cb-message .user {
    background-color: #0078d71a;
}

.ltr .cb-content .cb-sections .cb-left-content-body-chat {
    flex: 1;
    height: 100%;
}

.ltr .cb-chat-screen-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 0 0 8px 8px;
}

.ltr .cb-left-content-body .cb-chat-screen-container,
.ltr #leftchatbox .cb-chat-screen-container {
    height: 60vh !important;
}

.ltr .algin-self-end {
    align-self: end;
}

.ltr .chat-avatar {
    color: var(--TemplatebaseColor);
    background: rgba(0, 120, 215, .1);
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.ltr .cb-bb-compButton_primary {
    background-color: var(--TemplatebaseColor);
    border-color: var(--TemplatebaseColor);
    color: #fff;
}

.ltr .cb-bb-compButton {
    position: relative;
    height: 35px;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding-inline: .75rem;
    line-height: 1.5;
    box-shadow: 0 2px 4px #0000001a;
    outline: none;
    background-color: #f6f7f8;
    color: #000;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 2px;
}

.ltr .bb-button__primary,
.ltr .btn-primary,
.ltr .cb-bb-compButton_primary,
.ltr .ngx-pagination .current {
    background-color: var(--TemplatebaseColor) !important;
}

.ltr .popupsuggestion-box .cb-item-sug {
    border: #0071CE 1px solid;
    color: #0071ce;
    border-radius: 4px;
    padding: 10px;
    font-size: 14px;
}

.ltr .popupsuggestion-box {
    display: flex;
    gap: 15px;
    padding: 10px;
}


    .ltr .chatbuttondiv {
        position: fixed;
        bottom: 49px;
        left: -5px;
    }

.ltr .message_user {
    background: var(--TemplatebaseColor);
    color: #fff;
}

.ltr #chat-suggestions-boxes .spinner,
.ltr .cb-left-content .spinner {
    margin: 0px !important;
}

.ltr #chat-suggestions-boxes .spinner>div,
.ltr .cb-left-content .spinner>div {
    width: 10px !important;
    height: 10px !important;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card.isThreadActive {
    background-color: #0078d73d;
}

.ltr .cb-form-control {
    border: 1px solid #dedede;
    height: 35px;
    border-radius: 2px;
    padding: 4px 12px;
}
    .ltr .cb-mainchat-send-icon {
        padding-left: 10px
    }
    .ltr .cb-form-control {
        outline: 0;
        display: block;
        width: 100%;
        padding: 6px 12px;
        font-size: 12px;
        color: #535353;
        background-color: #fff;
        font-family: 'eSenseTajawalFlat';
        background-image: none;
        border: 1px solid #dce4ec;
        border-radius: 4px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

.ltr .cb-flex-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.ltr .cb-flexi-1 {
    flex: 1;
}

.ltr .cb-padding-0-10-10-10 {
    padding: 0 10px 10px 10px !important;
}

.ltr .iconstyle {
    cursor: pointer;
    font-size: 20px;
    /* Change size as needed */
    color: white;
    /* Change color to white */
}

.ltr .cb-cursor-pointer {
    cursor: pointer;
}

.ltr .btn-primary,
.ltr .cb-bb-compButton_primary {
    border-color: var(--TemplatebaseColor) !important;
    font-family: 'eSenseTajawalFlat';
}

    .ltr .cb-white {
        color: white;
        transform: scale(-1);
    }
.ltr .cb-btn-group,
.ltr .btn-group-vertical {
    display: inline-block;
    vertical-align: middle;
    margin-left: 13px;
}

.ltr .cb-dropdown-menu.cb-dropdown-menu-styleone {
    min-width: 200px;
    border-radius: 3px;
    padding: 10px;
    background-color: #f6f7f8;
    direction: ltr;
    text-align: left;
}

.ltr .btn.btn-clean {
    border-color: transparent;
    background-color: transparent;
}

.ltr .menu_left_minus5 {
    right: -5px !important;
    left: unset !important;
}

.ltr .cb-dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 12px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px #0000002d;
}

.ltr .cb-dropdown-menu {
    border-radius: 0;
    border-color: #eee;
    box-shadow: 0 1px 3px #0000001a;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card .fa-comment-alt {
    color: var(--TemplatebaseColor);
    padding: 15px;
}

.ltr .cb-content .cb-sections .cb-right-content-chat-history-card {
    display: flex;
    align-items: center;

    border-radius: 8px;
    margin-bottom: 10px;
}

.ltr .dropdown-arrow:before, .ltr .dropdown-arrow:after {
    content: "";
    bottom: 100%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ltr .dropdown-arrow:before {
    border-color: #719ece00;
    border-bottom-color: lightgray;
    border-width: 15px;
    margin-left: -20px;
}

.ltr .cb-dropdown-menu li {
    margin: 13px 10px !important;
}



.ltr .color-D0021B {
    color: #d0021b;
    margin-right: 10px;
}
.ltr .cb-width-80-per {
    width: 80% !important;
}

.ltr .text-wrap {
    text-wrap: wrap;
    overflow-wrap: break-word;
}

.ltr .gap-5,
.ltr .autoCompleteOptionsFordepartmentStructureItem {
    gap: 5px;
}

.ltr .cb-padding-10,
.ltr .autoCompleteOptionsFordepartmentStructureItem,
.ltr .important-attachment-section attachments-list-widget,
.ltr .cb-padding-10.text-indent-unset {
    padding: 10px !important;
}

.ltr .cb-message {
    border-radius: 8px;
    background: #e4e4e7;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 10px;
}

.ltr .loader {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
}

.ltr .spinner {
    margin-top: 0 !important;
}

.ltr .cb-flexi-1 {
    flex: 1;
}

.ltr .align-items-end {
    align-items: flex-end !important;
}

.ltr .align-items-start {
    align-items: flex-start;
}

.ltr .spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.ltr .spinner>div {
    width: 18px;
    height: 18px;
    background-color: #102233;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.ltr .spinner .bounce1 {
    animation-delay: -0.32s;
}

.ltr .spinner .bounce2 {
    animation-delay: -0.16s;
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        transform: scale(0);
    }

    40% {
        transform: scale(1);
    }
}

.ltr .cb-chat-screen .cb-overflow-x-hidden {
    overflow-x: hidden !important;
}

.ltr .cb-chat-screen .cb-overflow-y-auto {
    overflow-y: auto !important;
}

.ltr #popupmessages {
    overflow-y: scroll;
    /* Enable vertical scrolling */
    scrollbar-width: none;
}

.ltr .tabdisabled {
    pointer-events: none;
}

.ltr .ch-padding-left-60px {
    padding-right: 60px;
}

.ltr textarea {
    resize: none;
    /* Prevents resizing */
    -webkit-resize: none;
    /* For Safari */
    -moz-resize: none;
    /* For Firefox */
}

.ltr .timetext bdi {
    font-size: 10px;
    margin-right: 5px;
    font-weight: 300;
}

.ltr .cb-content .cb-sections .cb-right-content.shrink {
    flex: 0 0 100px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 0px;
}

.ltr .cb-content .cb-sections .cb-right-content {
    transition: flex 0.3s ease, width 0.3s ease;
    /* Add transition for flex and width */
}

.ltr .fa-robot:before {
    content: "\f544";
    position: relative;
    top: 25%;
    right: 5%;
}

.ltr .plan-input {
    text-align: left;
    position: absolute;
    top: 0px;
    width: 70%;
    height: 60px;
    outline: 0;
    left: 0;
    z-index: 9999999999;
    direction: ltr;
    outline: 0;
    border: 1px solid transparent !important;
}

.ltr #cb-minimizepopup {
    padding: 0px 5px !important;
}

.ltr #cb-PopUpquestions {
    position: absolute;
    bottom: 130px;
    margin-top: -30px !important;
}
.ltr .green-check {
    color: green;
}

.ltr .filled {
    color: green;
    /* or any color you prefer for the filled icon */
}

.ltr .filledred {
    color: red;
}

.ltr .fa-thumbs-down {
    transform: scaleX(-1) !important;
}
.ltr .dropdown-menu {
   
    box-shadow: 0 1px 3px #0000001a;
}
.ltr.cb-dropdown-menu.dropdown-menu-styleone li a:hover,
.ltr .cb-dropdown-menu.dropdown-menu-styleone li a:focus {
    color: #333 !important;
}

.ltr .cb-dropdown-menu {
    border-radius: 0;
    border-color: #eee;
    box-shadow: 0 1px 3px #0000001a;
}

.ltr .cursor-pointer {
    cursor: pointer;
}

.ltr #cb-mainchatdiv .chat-avatar {
    height: 60px;
    width: 60px;
}

.ltr #cb-mainchatdiv .chat-button {
    background: transparent !important;
}


.ltr .cb-message p {
    margin: 0px !important;
}

.ltr .cb-width-60-per {
    width: 60% !important;
}

.ltr .timetext {
    padding-top: 15px;
}

.ltr .height-18 {
    height: 18px;
    padding-left: 15px;
}



.ltr .scale2-5 {
    transform: scale(2.5);
    padding-left:0px !important;
}

.ltr .unclickable {
    pointer-events: none;
}

.ltr textarea:disabled {
    background-color: #80808021;
    color: #7d7d7d;
    border: 1px solid #c0c0c0;
    cursor: not-allowed;
    opacity: 0.7;
    /* Slight transparency */
}

.ltr #chat-input {
    padding-right: 53px !important;
}


.ltr .shrink #mainlogo
{
    display: none !important;
}
.ltr .shrink #sidelogo {
    display: block !important;
    width: 50px;
    margin-top: 30px;
}
.ltr #audio-visualizer {
    outline: 0;
    display: block;
    width: 80%;
    padding: 6px 12px;
    font-size: 12px;
    color: #535353;
    background-color: #fff;
    font-family: 'eSenseTajawalFlat';
    background-image: none;
    border: 1px solid #dce4ec;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    position: absolute;
    right: 10px;
    height: 33px;
    border: 1px solid transparent !important;
}

/* Custom Scrollbar for Firefox */
.ltr #chatbot-container  {
    scrollbar-width: thin;
    /* Can be auto, thin, or none */
}
.ltr  .cb-padding-10 {
    position: relative; /* Make the parent container relative */
}


.ltr  #visualizer2 {
    right: -30px !important;
    /* width: 90%; */
    /* bottom: 20px; */
}
.ltr  .visualizer { 
    position: absolute;
    display: flex;
    align-items: center; /* Align bars to the bottom */
    justify-content: center;
    gap: 1px;
    margin-top: 0;
    width: 100%;
    /* right: 24px; */
    box-sizing: border-box;
    z-index: -1;
}

.ltr  .bar {
    background-color: var(--TemplatebaseColor);
    width: 5px;
    height: 0; /* Start from height 0 */
    transition: height 0.1s ease;
}
.ltr #visualizer
{
    left: -30px;
}
.ltr .cb-popupchat-send-icon
{
    padding-left:15px
}


.ltr .cbicon {
    width: 23px;
    margin: 0px 5px;
    padding-right: 7px;
}
.ltr .cbellipsisicon
{
    width: 25px;
    margin-top: 10px;
}
.ltr .cbiexpandcon,.ltr .cbclose
{
    width: 11px;
}
.ltr .cbquestion,.ltr .cbsearch
{
width: 12px;
}
.ltr .cb-dropdown-menu svg
{
margin-right: 20px;
}

.ltr .timetext img
{
    padding: 0px 3px;
}
.ltr .cbsearch
{
    width: 16px;
}
.ltr .cb-dropdown-menu li a
{
    color: #000 !important;
}
.ltr .cb-right-content-chat-history-card
{
    display: flex;
justify-content: space-between !important;
} 
.ltr .cbtoast-container {
    position: absolute;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 68%;
    bottom: 89px;
}

.ltr .cbtoast {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(-100%);
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* When the cbtoast is shown */
.ltr .cbtoast-container  .show {
    opacity: 1;
    transform: translateY(0);
}

/* cbtoast types */
.ltr .cbtoast .success {
    background-color: #28a745;
}

.ltr .cbtoast-container .error {
    background-color: #dc3545;
}

.ltr .cbtoast .info {
    background-color: #17a2b8;
}

.ltr .cbtoast .warning {
    background-color: #ffc107;
}

.ltr .cbtoast .close-btn {
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
}